<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Accueil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Membre
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Status</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Finance</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Actualite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Project</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <!-- Hero -->
  <div class="p-5 text-center bg-body-tertiary">
    <h1 class="mb-3">
      <span class="align-middle">
        <p class="fw-lighter ">
         Nous, ressortissants de Lukala, vous souhaitons la bienvenue sur notre site.
        </p>
      </span>
    </h1>
  </div>
  
  <!-- Hero -->
<!-- Hero empty-->
<div class="p-5 text-center bg-body-tertiary">
  <h1 class="mb-3">
    <span class="align-middle">
      <p class="fw-lighter ">
      </p>
    </span>
  </h1>
</div>

<!-- Hero empty-->

  <div class="fixed-bottom">
   <!--Footer-->
<footer class="bg-light text-lg-start">
  
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!--Footer-->
</div>