
<!-- Hero -->
<div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('assets/images/CantineModified1.jpg');
    height: 150px; 
    width: 95%;margin: auto; position: relative
  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Lukala Ngangu Developement</h1>
      </div>
    </div>
  </div>
</div>
<app-nav-bulma></app-nav-bulma> 
<!-- Hero -->
<!-- <app-nav-bulma></app-nav-bulma> -->




