<nav class="navbar" role="navigation" aria-label="main navigation"
  style="background-color: rgba(255, 255, 255, 0.8); width: 95%;margin: auto; height: 48px;">
  <div class="navbar-brand">

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" style="position: relative; z-index: 10;">
    <div class="navbar-start">
      <a class="navbar-item" href="Accueil">Accueil</a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Membres
        </a>

        <div class="navbar-dropdown">

          <a class="navbar-item is-selected" href="PhotoDesmembres" style="background-color: red;">
            <span style="color: white">Photos de tous les membres</span>
            <hr class="navbar-divider">
          </a>

          <hr class="navbar-divider">
          <a class="navbar-item" href="Contact" style="background-color: red;">

            <span style="color: white">Contact</span>
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="Finance" style="background-color: red;">
            <span style="color: white">Finance</span>
          </a>
        </div>
      </div>


      <div class="navbar-item has-dropdown is-hoverable" style="color: rgb(54, 3, 3);">
        <a class="navbar-link">
          Documents
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="PlanStrategique" style="background-color: red;">
            <span style="color: white">Project de Status</span>
          </a>

          <hr class="navbar-divider">
          <a class="navbar-item" href="OrdreInterieur" style="background-color: red;">

            <span style="color: white">Reglement d'ordre interieur</span>
          </a>
        </div>
      </div>
      <a class="navbar-item" href="Projects" style="
        pointer-events: none;
        color: #b5b5b5;
        cursor: not-allowed;
      ">Projets</a>
      <a class="navbar-item" href="Messages">Messages</a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Musique</a>
        <div class="navbar-dropdown">

          <a class="navbar-item" [routerLink]="['/yisu', '-j3vHpKzJ3c']" style="background-color: red;">
            <span style="color: white">Yesu</span>
          </a>
          <hr class="navbar-divider">

          <a class="navbar-item" [routerLink]="['/jeune','gIfxaiLOjPQ']" style="background-color: red;">
            <span style="color: white">La Jeunesse</span>
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" [routerLink]="['/musique','CDNXNaJ1eQw']" style="background-color: red;">
            <span style="color: white">Nostalgie</span>
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" [routerLink]="['/divers', 'VpvDSz8skb8']" style="background-color: red;">
            <span style="color: white">Hummm</span>
          </a>

        </div>
      </div>

    </div>
  </div>


  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-light" style="pointer-events: none;
        color: #b5b5b5;
        cursor: not-allowed;">
          Exit
        </a>
      </div>
    </div>
  </div>
</nav>



<!-- <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div> -->