<div class="card" style="width: 95%;margin: auto;">
    <br>
    <div class="card-body" style="margin: auto;">
      
      <p class="card-text;" style="font-style: italic;color: rgb(3, 3, 10);font-weight: bold;">Ô Lukala, cité qui nous a vus naître,  </p>
      <p class="card-text;" style="font-style: italic;color: rgb(3, 3, 10);font-weight: bold;">Cité qui nous a bercés et aidés à grandir,   </p>
      <p class="card-text;" style="font-style: italic;color: rgb(3, 3, 10);font-weight: bold;">Tu as été patiente malgré nos erreurs,   </p>
      <p class="card-text;" style="font-style: italic;color: rgb(3, 3, 10);font-weight: bold;">Offrant tes bras pour nous accueillir.   </p>
   
       <p class="card-text;" style="font-style: italic;color: rgb(3, 3, 10);font-weight: bold;">Tu sais embrasser mille enfants à la fois,   </p>
       <p class="card-text;" style="font-style: italic;color: rgb(3, 3, 10);font-weight: bold;">Ton étreinte apaise et guérit tout chagrin :   </p>
       <p class="card-text;" style="font-style: italic;color: rgb(3, 3, 10);font-weight: bold;">Du genou meurtri après un match de football acharné,   </p>
       <p class="card-text;" style="font-style: italic;color: rgb(3, 3, 10);font-weight: bold;">Au cœur brisé par un amour jamais atteint.   </p>
  
        <p class="card-text;" style="font-style: italic;color: rgb(3, 3, 10);font-weight: bold;">Aujourd'hui, nous sommes mûrs et éclairés,   </p>
       <p class="card-text;" style="font-style: italic;color: rgb(3, 3, 10);font-weight: bold;"> Avec reconnaissance, nous te rendons hommage,   </p>
       <p class="card-text;" style="font-style: italic;color: rgb(3, 3, 10);font-weight: bold;">Et promis, chère cité, nous prendrons soin de toi,   </p>
       <p class="card-text;" style="font-style: italic;color: rgb(3, 3, 10);font-weight: bold;">En gardant vivante ta flamme et ton héritage. </p> 
   
  </div>
