<pdf-viewer [src]="pdfSrc" [show-borders]="true" [fit-to-page]="true"
  style="display: block;width: 100vw; height: 100vh; ">
</pdf-viewer>

<!-- <div id="outerContainer">
    <div class="pdf-container">
      <pdf-viewer
        [src]="assets/pdfs/Projet_ de_Statuts2.pdf"
        [rotation]="0"
        [original-size]="false"
        [show-all]="true"
        [fit-to-page]="false"
        [zoom]="1"
        [zoom-scale]="'page-width'"
        [stick-to-page]="false"
        [render-text]="true"
        [external-link-target]="'blank'"
        [autoresize]="true"
        [show-borders]="true"
        style="width: 100vw; height: 100vh; display: block;"
      ></pdf-viewer>
    </div>
  </div>  -->