<style>
    body {
      height: auto;
      width: 95%;
      margin: auto;
      background-color: rgb(231, 235, 227)
    }
  
    div {
      width: 45%;
      height: 500px;
      text-align: left;
      overflow: auto;
      background-color: rgb(181, 228, 235);
    }
  
    div::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #F5F5F5;
    }
  
    div::-webkit-scrollbar {
      width: 12px;
      background-color: #F5F5F5;
    }
  
    div::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      background-color: #555;
    }
  
    p {
      font-style: italic;
      color: rgb(3, 3, 10);
      font-weight: bold;
      font-size: 15px;
      margin-left: 15px;
      text-align: center;
    }
  
    span {
      font-size: 15px;
      color: rgb(18, 18, 210);
    }
  </style>
  
  <body>
    <br>
    <div style="margin: auto;">
        <br>
        <h2 style="color: blue;font-style: italic;text-align: center;text-decoration: underline;">Message pour Lukala</h2>
      <br>
  
      <p>Ô <span>Lukala</span>, cité qui nous a vus naître, </p>
      <p>Berceau de nos rêves, complice de nos désirs, </p>
      <p>Tu nous as portés, même dans nos erreurs, </p>
      <p>Offrant tes bras pour nous rassembler et grandir. </p>
      <br>
      <p>Tu sais embrasser mille enfants à la fois, </p>
      <p>Ton étreinte répare et apaise nos douleurs : </p>
      <p>Du genou écorché sur le terrain de football, </p>
      <p>Au cœur blessé par l&apos;amour qui n&apos;a jamais fleuri. </p>
      <br>
      <p>Tu riais de nos rires à la cantine animée, </p>
      <p>De l&apos;excitation autour du film projeté, </p>
      <p>Et des danses joyeuses qui marquaient la fin de l&apos;année, </p>
      <p>Te réjouissant de nos éclats, de nos folies partagées. </p>
      <br>
      <p>Aujourd&apos;hui, nous sommes mûrs, riches de tes enseignements, </p>
      <p>Avec reconnaissance, nous te rendons hommage, </p>
      <p>Et promis, chère cité, nous veillerons sur toi, </p>
      <p>En gardant vivante ta flamme, ton âme, ton héritage.</p>
      <br><br>
    </div>
  
  </body>

